server:
  servlet:
    context-path: /api
  port: 5520

spring.mail.host: smtp.qq.com
spring.mail.username: xx@qq.com
spring.mail.password: password
spring.mail.properties.mail.smtp.auth: true
spring.mail.properties.mail.smtp.starttls.enable: true
spring.mail.properties.mail.smtp.starttls.required: true

spring:
  servlet:
    multipart:
      enabled: true
      max-file-size: 100MB
      max-request-size: 100MB
